<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" /><!-- 开启驼峰命名法 -->

	</settings>
	<typeAliases>
		<package name="com.tmxk.crud.bean" />
	</typeAliases>

	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!-- config params as the following 超过最大值查询最后一页 超过最小值查第一页-->
		<property name="reasonable" value="true" /> 
		</plugin>
	</plugins>
</configuration>
	
	
	